<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    Room ID
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
{% for (var i=0, i < data.length; i++) {%}
            <tr>
                <td>{%= data[i].id %}</td>
                <td>{%= data[i].status %}</td>
                <td><a href="/game?room_id={%=data[i].id%}">Join Game</a></td>
            </tr>
        </thead>
    </table>
    
</body>
</html>