<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Login</title>
    <link rel="stylesheet" href="/public/css/stylelogin.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
          <form action="/login" method="POST">
              <label>Username</label><br>
              <input name="username" placeholder="enter username" /><br>
              <label>Password</label><br>
              <input name="password" placeholder="enter password" /><br>
              <button type="submit">Log in</button>
          </form>
      </div></body>
</html>
