<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Data</h1>
    <table>
         <form method="POST" action="/register"></form>
        <tbody>
            <tr>
                <td>Username</td>
                <td>:</td>
                <td><input type="text" name ="username" placeholder="username"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="text" name ="password" placeholder="password"/></td>
            </tr>
<tr>
    <td><button>Submit</button></td>
</tr>
        </tbody>
    </form>
    </table>
</body>
</html>